<!-- <h1 style="text-align: center;">Home</h1> -->
<!-- <img src="../../assets/images/home.jpg" alt="My Image"> -->
<!--AyaHaggag-->
 <!--<div id="home">-->
<swiper-container style="--swiper-navigation-color:#000000;"
navigation="true" space-between="10" loop="true" class="mySwiper1" thumbs-swiper=".mySwiper2">
  <swiper-slide>
  <div class="slide">
    <img src="../../assets/images/clothes6.jpg" alt="Image1"/>
    <div class="info">
      <div class="animation">
      <h2>welcome to our website </h2>
    </div>
    </div>
  </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide1">
    <img src="../../assets/images/clothes1.jpg" alt="Image2"/>
    <div class="info">
      <div class="animation1">
      <h2>Women's Fashion: <br> Fresh Styles for Every Season</h2>
    </div>
    </div>
  </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide6">
    <img src="../../assets/images/clothes4.JPG" alt="Image3"/>
    <div class="info">
    </div>
  </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide2">
    <img src="../../assets/images/clothes11.jpg" alt="Image4"/>
    <div class="info">
      <div class="animation2">
      <h2>Latest Trends: <br> Embrace the New Season</h2>
      </div>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slide3">
    <img src="../../assets/images/clothes13.jpg" alt="Image4"/>
    <div class="info">
      <div class="animation3">
      <h2>New Arrival: <br> Trendy Looks for the Season </h2>
      </div>
      </div>
    </div>
  </swiper-slide>
  ...
</swiper-container>

<swiper-container  class="mySwiper2" space-between="10" slides-per-view="5" free-mode="true">

  <swiper-slide>
    <img src="../../assets/images/clothes6.jpg" alt="Image1"/>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/clothes1.jpg" alt="Image2"/>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/clothes4.JPG" alt="Image3"/>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/clothes11.jpg" alt="Image4"/>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/clothes13.jpg" alt="Image4"/>
  </swiper-slide>
  ...
</swiper-container>
 </div>
