<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="../../assets/images/product-03.jpg" alt="sas">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>Title : </strong>Brands</li>
                    <li><strong>Category : </strong>Shirts</li>
                    <li><strong>Description : </strong>Valantino</li>
                    <li><strong>Rate : </strong>3.5</li>
                    <li><strong>Count : </strong>120</li>
                    <li><strong>Price : </strong>155 LE</li>
                </ul>
            </div>
            <div>
                <button type="submit" class="addtocart form-control">Add To Cart</button>
            </div>
        </div>
    </div>
</div>
