

    <div style="display: flex; justify-content:space-between;">
        <div >
            <h1 style="margin: 15px; margin-top:10px;">LOGO</h1>
        </div>

        <div>
            <ul>
                <li> <a href="home">Home</a></li>
                <li> <a href="products">Products</a></li>
                <li> <a href="contact">Contact Us</a></li>
                <li> <a href="about">About Us</a></li>
            </ul>
        </div>

        <div >
            <button class="search-input"><span class="material-symbols-outlined">
                search
                </span></button>
            <button class="search-input"><span class="material-symbols-outlined">
                shopping_cart_checkout
                </span></button>
            <button class="search-input"><span class="material-symbols-outlined">
                contacts_product
                </span>
            </button>

        </div>
    </div>
