<!--AyaHaggag-->
<section class = "footer_area footer-bg">
  <div class = "footer_top pt-100 pd-60">
  <div class = "container">
    <div class = "row"> 
      <div class = "col-xl-6 col-lg-6 col-md-6 col-12">
        <div class = "footer_widged mb-30">
          <div class = "footer_widged-title mb-25">
            <a href = "#">
              <img src = "#" alt = "LOGO">
            </a>
          </div>
          <div class = "footer_widged-content">
            <p>Outstock is a premium Templates theme with advanced admin module.
              It’s extremely customizable, easy to use and fully responsive and retina ready.</p>
            <div class = "footer_contact">
              <ul>
                <li>
                  <div class = "icon">
                  <i class = "fal fa-map-marker-alt">
                    ::before
                  </i>
                  </div>
                  <div class = "text">
                    <span>Add: 1234 Heaven Stress, Beverly Hill, Melbourne, USA.</span>
                  </div>
                </li>
                 <li>
                   <div class = "icon">
                  <i class = "fal fa-envelope-open-text">
                    ::before
                  </i>
                  </div>
                  <div class = "text">
                    <span>Email: Contact@basictheme.com</span>
                  </div>
                 </li>
                 <li>
                   <div class = "icon">
                  <i class = "fal fa-phone-alt">
                    ::before
                  </i>
                  </div>
                  <div class = "text">
                    <span>Phone Number: (800) 123 456 789</span>
                  </div>
                 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-xl-3 col-lg-3 col-md-3 col-12">
        <div class = "footer_widged mb-30">
          <div class = "footer_widged-title">
            <h5>information</h5>
          </div>
          <div class = "footer_widged-content">
            <div class = "footer_links">
              <ul>
                <li>
                  <a href = "#">
                    "About Us"
                    ::after
                  </a>
                </li>
                 <li>
                  <a href = "#">
                    "Careers"
                    ::after
                  </a>
                </li>
                <li>
                  <a href = "#">
                    "Delivery Inforamtion"
                    ::after
                  </a>
                </li>
                <li>
                  <a href = "#">
                    "Privacy Policy"
                    ::after
                  </a>
                </li>
                <li>
                  <a href = "#">
                    "Terms & Condition"
                    ::after
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
       <div class = "col-xl-3 col-lg-3 col-md-3 col-12">
        <div class = "footer_widged mb-30">
          <div class = "footer_widged-title-25">
            <h5>Customer Service</h5>
          </div>
          <div class = "footer_widged-content">
           <div class = "footer_links">
             <ul>
               <li>
                  <a href = "#">
                    "Shipping Policy"
                    ::after
                  </a>
                </li>
                 <li>
                  <a href = "#">
                    "Help & Contact Us"
                    ::after
                  </a>
                </li>
                <li>
                  <a href = "#">
                    "Returns & Refunds"
                    ::after
                  </a>
                </li>
                <li>
                  <a href = "#">
                    "Online Stores"
                    ::after
                  </a>
                </li>
                <li>
                  <a href = "#">
                    "Terms & Conditions"
                    ::after
                  </a>
                </li>
             </ul>
           </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
  <div class = "footer_bottom">
    <div class = "container">
      <div class = "row"> 
      <div class = "col-xl-6 col-lg-7">
        <div class = "footer_copyright">
         <p>"Copyright ©"
          <a href = "#">  Outstock </a>
          "all rights reserved. Powered by"
          <a href = "#"> Theme_pure</a>
           </p> 
        </div>
      </div>
        <div class = "col-xl-6 col-lg-5">
          <div class = "footer_social f-right">
            <ul>
              <li>
                <a terget = "blank" href = "http://facebook.com">
                  <i class = "fa-facebook-f fab">
                    ::before
                  </i>
                </a>
              </li>
              <li>
                <a terget = "blank" href = "http://twitter.com">
                  <i class = "fa-twitter fab">
                    ::before
                  </i>
                </a>
              </li>
              <li>
                <a terget = "blank" href = "https://www.behance.net/">
                  <i class = "fa-behance fab">
                    ::before
                  </i>
                </a>
              </li>
              <li>
                <a terget = "blank" href = "https://dribbble.com/">
                  <i class = "fa-dribbble fab">
                    ::before
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
