<form>
    <div class="maincontainer">
        <div class="container">
            <label for="email"><p class="labeltext">E-mail</p></label>
            <input class="upbtn" type="text" name="email" placeholder="Enter E-mail" required>
        </div>
        <div class="container">
            <label for="uname" class="labeltext"><p>Username</p></label>
            <input class="upbtn" type="text" name="uname" placeholder="Choose Username" required>
        </div>
        <!-- <div class="container">
            <label for="country"><p>Country</p></label>
            <input class="upbtn" type="text" name="country" placeholder="Your country" required>
        </div> -->
        <div class="container">
            <label for="psw" class="labeltext"><p>Password</p></label>
            <input class="upbtn" type="text" name="psw" placeholder="Enter Password" required>
        </div>
        <div class="container">
            <label for="rpsw" class="labeltext"><p>Repeat Password</p></label>
            <input class="upbtn" type="text" name="rpsw" placeholder="Repeat Password" required>
        </div>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Register</button>
        <div class="container signin">
            <p>Already have an account?  <a href="/login">Sign in</a></p>
        </div>
    </div>
</form>