<div id="about"></div>
<h1 style="background-color:rgb(47, 44, 44); color:aliceblue; margin-bottom:0px;">“Welcome to Style Spot!”</h1>
<div id="about2">
    <br>
    <h2>
        <br>
        At Style Spot, we’re passionate about keeping you fashion-forward.
        Our mission is to curate the latest trends and must-have styles,
        making you feel confident and stylish every day.
        Whether you’re seeking wardrobe essentials or statement pieces,
        Style Spot is your go-to destination for all things chic.
        Join us on this fashionable journey, and let’s redefine style together!
        <br><br>
        At Style Spot, we strive to curate the latest trends and must-have styles,
        ensuring you feel confident and stylish every day.
        Whether you’re seeking wardrobe essentials or statement pieces,
        Style Spot is your go-to destination for all things chic.
    </h2>
    <img src="/assets/images/A1_3.jpg" alt="" style="float: right; height:96vh; z-index:2; border:none; position: relative; top: -47px;">
</div>


