<section class="pagetitle">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Contact Us</h1>
                <div class="nnn">
                    <a href="/products">Shop </a>
                    <span>  /  Contact</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div style="margin: 30px;" class="container row">
        <div class="fush col-6">
            <h3>Find Us Here</h3>
            <ul>
                <li>
                    <div>

                    </div>
                    <div>
                        <h6>Address:</h6>
                        <p>1234 Heaven Stress, Beverly Hill, Melbourne, USA.</p>
                    </div>
                </li>
                <li>
                    <div>

                    </div>
                    <div>
                        <h6>Email:</h6>
                        <p>Contact.erentheme.com</p>
                    </div>
                </li>
                <li>
                    <div>

                    </div>
                    <div>
                        <h6>Phone Number:</h6>
                        <p>(800) 123 456 789, (800) 987 654 321</p>
                    </div>
                </li>
            </ul>
            <img style="cursor: pointer;" src="../../assets/images/icons.png" alt="icons">

        </div>
        <div class="contactinfo col-6">
            <h3>Contact Us</h3>
            <div>
                <label>Name <span required>*</span></label>
                <input class="form-control">
            </div>
            <div>
                <label>Email <span required>*</span></label>
                <input class="form-control">
            </div>
            <div>
                <label>Subject <span required>*</span></label>
                <input class="form-control">
            </div>
            <div>
                <label>Message</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="container" style="margin: 20px;">
                <button class="sendmss">Send Message</button>
            </div>
        </div>
    </div>
</section>
