<div class="container-head">
    <h1>Shop</h1>
</div>

<div class="container new">
    <div class="row">
        <!-- side navbar -->
        <div class="col-md-3 one">
            <h3>Product Categories</h3>
            <div class="sidebar">
                <a (click)="filterProductsByCategory(4)" >Shirts
                    <span class="material-symbols-outlined">
                        double_arrow
                        </span>
                </a>
                <a (click)="filterProductsByCategory(3)" >T-shirts
                    <span class="material-symbols-outlined">
                        double_arrow
                        </span>
                </a>
                <a (click)="filterProductsByCategory(2)" >Hoodies
                    <span class="material-symbols-outlined">
                        double_arrow
                        </span>
                </a>
                <a (click)="filterProductsByCategory(1)" >Trousers
                    <span class="material-symbols-outlined">
                        double_arrow
                        </span>
                </a>
            </div>
            
            <div class="content">
                <p>This is the main content area.</p>
            </div>
        </div>
        <!-- side navbar -->
        <div class="col-6 col-md-9 two">

          @for (pro of filteredproducts; track pro.id) {
                          <!-- card -->
            <div class="card" style="width: 18rem;">
              <img [src]="pro.imgurl" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> {{pro.name}} </h5>
                <p class="card-text"> {{pro.price}} $ </p>
                <a href="/singepage" class="btn btn-primary btncard">Details</a>
                <button class="search-input fav" routerLink="/wishlist" >
                  <span class="material-symbols-outlined ">
                  favorite
                  </span></button>
              </div>
            </div>
            <!-- card -->
          }


        </div>
      </div>
      <!-- pigination -->
      <nav aria-label="...">
        <ul class="pagination" >
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/singepage">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <!-- pigination -->
</div>