<form #userForm="ngForm">

    <div class="maincontainer">
        <div class="container">
            <label for="username"><b>Username</b></label><br>
            <input #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" class="upbtn form-control" type="text" placeholder="Enter Username" name="username" [(ngModel)]="userModel.name" >
        </div>

        <div class="container">
            <label for="password"><b>Password</b></label><br>
            <input class="upbtn form-control" required  #password="ngModel"  [class.is-invalid]="password.invalid && password.touched" type="text" placeholder="Enter Password" name="password" [(ngModel)]="userModel.password">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is requird</small>
        </div>
        <div class="container">
            <label for="remember" id="chbox">
                <input type="checkbox" checked="checked" name="remember" [(ngModel)]="userModel.remember">Remember me
            </label>
        </div>
        <button id="loginbtn" type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Login</button><hr>
    
        <div class="containera">
            <button id="cancelbtn" type="button" class="btn btn-primary"><a href="/app1/src/app/home">Cancel</a></button>
            <span class="psw"><a href="#">Forget Password</a></span>
        </div>
        <div class="container signup">
            <p>Do not have an account?  <a href="/register">Sign up</a></p>
        </div>
    </div>
</form>

