.maincontainer{
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 30%;
    height: auto;
    position: relative;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
#loginbtn{
    font-size: larger;
    margin-top: 20px;  
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    left: 30%;
    position: relative;

}
#loginbtn:hover{
    opacity: 4;
    background-color: burlywood;

}
.upbtn{
    width: 100%;
    border-radius: 5px;
    border-width: 5px;
}
.upbtn:hover{
    border-color: burlywood;
}
.container{
    margin-bottom: 10px;
}
.btn{
    background-color: rgb(205, 147, 48);
    font-size: medium;
    border-radius: 10%;

}
#cancelbtn a{
    text-decoration: none;
    color: white;
}

#cancelbtn:hover{
    opacity: 4;
    background-color: burlywood;
}
.psw{
    float: right;
}


