.container-head h1{
    background-image: url("/assets/images/checkoutback.jpg");
    width: 100%;
    height: 300px;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container{
    
    margin: auto;
    padding: 20px;
}
.btnplaceorder, .collapsible{
    background-color: #323232;
    border-color: #323232;
    color: #fff;

}
.btnplaceorder:hover, .collapsible:hover{
    background-color: #bc8246;
}
