<div class="container-head">
    <h1>Cart</h1>
</div>

<section class="container" id="big-con">
    <div  class="table-content table-responsive">
        <table  class="table">
            <thead >
                <tr>
                    <th  class="product-thumbnail">Images</th>
                    <th  class="cart-product-name">Product</th>
                    <th  class="product-price">Unit Price</th>
                    <th  class="product-quantity">Quantity</th>
                    <th  class="product-subtotal">Total</th>
                    <th  class="product-remove">Remove</th>
                </tr>
            </thead>
            <tbody >

                <!-- row -->

                    @for (pro of listpro; track pro.id) {
                        <tr  class="ng-star-inserted" >
                            <td  class="product-thumbnail">
                                <a routerLink="/singepage">
                                    <!-- لازم اضع / -->
                                    <img  alt="product-img" [src]="pro.imgurl">
                                </a>
                            </td>
                            <td  class="product-name">
                                <a  routerLink="/singepage">
                                    {{pro.name}}
                                </a>
                            </td>
                            <td  class="product-price">
                                    <span  class="amount">
                                        {{pro.price}}
                                    </span>
                            </td>
                            <td  class="product-quantity" >
                                    <div  class="cart-plus-minus" >
                                        <input  type="text" readonly="">
                                        <div  class="dec qtybutton">-</div>
                                        <div  class="inc qtybutton">+</div>
                                    </div>
                            </td>
                            <td  class="product-subtotal">
                                    <span  class="amount"> {{pro.price}} </span>
                            </td>
                            <td  class="product-remove">
                                <a  class="cursor-pointer" (click)="''">
                                    <i  class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                <!-- row -->

                    
                    </tbody>
        </table>
        
        </div>



    <div class="cpn">
        <input class="cpon" type="text" placeholder="coupon code">
        <button class="cpon1 vfg btn ">Apply Coupon</button>
        <button class="cpon2 vfg btn ">Clear Cart</button>
    </div>

    <div class="cart-total">
        <h2>Cart Totals</h2>
        <ul>
            <!-- <li class="lii ">
                Subtotal
                <span class="mon">$480.00</span>
            </li> -->
            <li class="lii ">
                Total
                <span class="mon">{{totalprice | currency}}</span>
            </li>
        </ul>
        <button class="vfg btn" routerLink="/checkout">Proceed to Checkout</button>
    </div>

</section>

